.title {
    margin: 60px auto 0;
    width: 960px;
    line-height: 37px;
    font-size: 32px;
    color: #292422;
}

.title strong {
    margin-right: 8px;
}

.title strong > :first-child {
    color: #0ebcc0;
}

.toolbar {
    margin: 60px auto 0;
    width: 960px;
    display: flex;
    align-items: center;
}

.toolbar-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-search-button {
    margin-left: 8px;
}

.toolbar-float {
    width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.toolbar-create {
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: #060608;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.dao-list {
    margin: 64px auto 0;
    width: 960px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.dao-card {
    width: 222px;
    height: 320px;
    background: #fff;
    padding: 0 32px;
    cursor: pointer;
}

.dao-card:hover {
    outline: 1px solid #aaa;
}

.dao-card-header:after {
    content: '';
    width: 40px;
    display: block;
    height: 2px;
    background: #0c0c0e;
    margin-top: 16px;
}

.dao-avatar {
    width:80px;
    height: 80px;
    border: 1px solid #eee;
}

.dao-avatar img {
    width: 100%;
    height: 100%;
}

.dao-title {
    margin-top: 22px;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #0c0c0e;
}

.dao-account {
    margin-top: 12px;
    font-size: 14px;
    color: #999;
}

.dao-card-body {
    padding-top: 16px;
}

.dao-mission {
    font-size: 15px;
    color: #333;
}
