.title {
    margin: 60px auto 0;
    width: 960px;
    line-height: 37px;
    font-size: 32px;
    color: #292422;
}

.title strong {
    margin-right: 8px;
}

.title strong > :first-child {
    color: #0ebcc0;
}

.toolbar {
    margin: 60px auto 0;
    width: 960px;
    display: flex;
    align-items: center;
}

.toolbar-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-search-button {
    margin-left: 8px;
}

.toolbar-float {
    width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.toolbar-create {
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: #060608;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.dao-list {
    margin: 64px auto 0;
    width: 960px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}
